@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-23:before {
	content: "\e000";
}
.flaticon-calendar146:before {
	content: "\e001";
}
.flaticon-calendar68:before {
	content: "\e002";
}
.flaticon-download105:before {
	content: "\e003";
}
.flaticon-labels2:before {
	content: "\e004";
}
.flaticon-multiple25:before {
	content: "\e005";
}
.flaticon-options24:before {
	content: "\e006";
}
.flaticon-profile5:before {
	content: "\e007";
}
.flaticon-speed13:before {
	content: "\e008";
}
.flaticon-transport10:before {
	content: "\e009";
}
