.navbar-text > a {
     color:inherit;
	 text-decoration:none;
	 }
	 
body {
padding-top: 70px;  /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
padding-bottom: 100px;

}


.page-header h1 {

	display: inline-block;
	margin-bottom: 15px;
}



@media(min-width:768px) {
    #index{
	padding-top: 30px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
	}
	
    body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

.navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }ul.navbar-nav{
padding-right:15px;

}

.navbar-header{
padding-left:15px;

}
}
	

.navbar-default {
background-color:#2C3E50;
border-color:#FFFFFF;
color:#FFFFFF;
}

.navbar-default .navbar-brand{                                /*   //setting navigation brand name  font color white */

color: #FFFFFF;
}


.navbar-default .navbar-brand:hover,              /*   //setting navigation brand name when hover font color turquoise */
.navbar-default .navbar-brand:focus {
color:#18BC9C;
background-color:transparent;
}


.navbar-default ul.navbar-nav > li > a{                   /*   //setting navigation link font color white */
color:#FFFFFF

}

.navbar-default ul.navbar-nav  > .active > a,                              /*   //setting navigation link font color white */
.navbar-default ul.navbar-nav > .active > a.hover,
.navbar-default ul.navbar-nav  >.active > a:focus{
 
 color:#FFFFFF;
 background-color:#1A242F;
 
 }
 
.navbar-default ul.navbar-nav > li > a:hover,      /* navigation link hover color : turquoise */
.navbar-default ul.navbar-nav > li > a:focus {
color:#18BC9C;
background-color:transparent;
}

.navbar-default ul.navbar-nav > .open > a,
.navbar-default ul.navbar-nav > .open > a:hover,
.navbar-default ul.navbar-nav > .open > a:focus{
 background-color:#1A242F;
  
 color:#FFFFFF;
 
}

.btn-primary {

 background-color:#2C3E50;   /*       //change blue to nave blue */
  border-color:#2C3E50;
  color:#FFFFFF;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {  
 background-color:#1E2A36;
  border-color:#161F29;
  color:#FFFFFF;
}

.btn-success {

 background-color:#18BC9C;        /*  //change blue to nave blue */
  border-color:#18BC9C;
  color:#FFFFFF;
}

.btn-success:hover, 
.btn-success:focus, 
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {  
 background-color:#13987E;
  border-color:#13987E;
  color:#FFFFFF;
}


.btn-default {

 background-color:#95A5A6;        /*  //change blue to nave blue */
  border-color:#95A5A6; 
  color:#FFFFFF;
}

.btn-default:hover, 
.btn-default:focus, 
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {  
 background-color:#7F9293 ;
  border-color: #74898A;
  color:#FFFFFF;
}

#brand-image
{
  display: inline-block;
    max-width: 100%;
    height: 40px;
	padding-bottom:10px;

}
#brand
{
max-width:100%;
max-height:100%;
}

.mymonths{
	margin:30px;
	padding-left: 30px;
	padding-right:30px;
	text-align: center;
	font-size: 20px;
}

.title{
	text-align: center;
	font-size: 20px;
}

.registrationpanel{
 padding-left: 80px;
 padding-right: 80px;
}

.home-thumb img:hover{
transform:scale(1.1);
}

.thumbnail img{  
transition: all 0.3s ease 0s; /* property, duration,timing, delay */
width:100%:

}

.thumbnail{
overflow:hidden;
}
.slider-size {
height: 400px; /* This is your slider height */
}
.carousel {
width:100%; 
margin:0 auto; /* center your carousel if other than 100% */ 
}


.row{
	padding-left:10px;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation for programs*/
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.coursespositioning {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 200px;
    height: 200px;
    border:;
    margin-right: 500px;
    margin-left: 450px;
    margin-bottom: 1000px;
    background-color:#8AC007;
    border-radius: 15px 50px;
}

.calenderborder{
	padding-top: 40px;
}

.signupcss {
    position: absolute;
    left: 400px;
    width: 200px;
    margin-left: 450px;
}

.navbar-fixed-bottom {
 height: 15px;
  background-color:#1A242F;
}
/* .modal-content {
  width: 500px;
  
} */
/*  Manage Programs.html CSS */
.icons{
	text-align: right;
	padding-right: 10px;
}
table, th, td {
	border: 1px solid black;
}

th, td{
	padding: 15px;
}

tr {
	text-align:center;
}

.tablepadding{
	padding-left:50px;
	padding-right: 50px;
	text-align: center;
	padding-bottom: 100px;
}

.sub-header{
	padding-left:50px;
}

/* End of Manage Programs.html CSS */


/*change breadcrumb background color*/
.breadcrumb {
   display: inline-block;
	background: none;
	margin: 0;
	padding: 0 10px;
}

.breadcrumb li a {
	color: #999999;
	font-size: 11px;
	padding: 0px;
	margin: 0px;	
}
.breadcrumb li:last-child a {
	color: #1e91cf;
}
.breadcrumb li a:hover {
	text-decoration: none;
}
.breadcrumb li + li:before {
	content: "/";
	font-family: FontAwesome;
	color: #BBBBBB;
	padding: 0 5px;	
}

.form-actions{
text-align: right
}

