<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCategoryServlet</servlet-name>
    <servlet-class>addCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCategoryServlet</servlet-name>
    <url-pattern>/addCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>ajaxdemo.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>/ActionServlet/*</url-pattern>
  </servlet-mapping>
  <display-name>ajaxWithServlet</display-name>
  <servlet>
    <servlet-name>ServletForm</servlet-name>
    <servlet-class>ServletForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletForm</servlet-name>
    <url-pattern>/ServletForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCatServlet</servlet-name>
    <servlet-class>addCatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCatServlet</servlet-name>
    <url-pattern>/addCatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addStatusServlet</servlet-name>
    <servlet-class>addStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStatusServlet</servlet-name>
    <url-pattern>/addStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addEnrollmentStatus</servlet-name>
    <servlet-class>addEnrollmentStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEnrollmentStatus</servlet-name>
    <url-pattern>/addEnrollmentStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addUserEnrollment</servlet-name>
    <servlet-class>addUserEnrollment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUserEnrollment</servlet-name>
    <url-pattern>/addUserEnrollment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCoachUser</servlet-name>
    <servlet-class>addCoachUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCoachUser</servlet-name>
    <url-pattern>/addCoachUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addAdminUser</servlet-name>
    <servlet-class>addAdminUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAdminUser</servlet-name>
    <url-pattern>/addAdminUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <servlet-class>FileUploadDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <url-pattern>/FileUploadDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>DisplayImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editCategory</servlet-name>
    <servlet-class>editCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editCategory</servlet-name>
    <url-pattern>/editCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertWorkshop</servlet-name>
    <servlet-class>InsertWorkshop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertWorkshop</servlet-name>
    <url-pattern>/InsertWorkshop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertCoaching</servlet-name>
    <servlet-class>InsertCoaching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCoaching</servlet-name>
    <url-pattern>/InsertCoaching</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadDbServlet</servlet-name>
    <servlet-class>FileUploadDbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadDbServlet</servlet-name>
    <url-pattern>/FileUploadDbServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletDirect</servlet-name>
    <servlet-class>servletDirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDirect</servlet-name>
    <url-pattern>/servletDirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletDirectProgram</servlet-name>
    <servlet-class>servletDirectProgram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDirectProgram</servlet-name>
    <url-pattern>/servletDirectProgram</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteServletProgram</servlet-name>
    <servlet-class>deleteServletProgram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServletProgram</servlet-name>
    <url-pattern>/deleteServletProgram</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletDirectCoaching</servlet-name>
    <servlet-class>servletDirectCoaching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDirectCoaching</servlet-name>
    <url-pattern>/servletDirectCoaching</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteServletCoaching</servlet-name>
    <servlet-class>deleteServletCoaching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServletCoaching</servlet-name>
    <url-pattern>/deleteServletCoaching</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteEnrollmentStatus</servlet-name>
    <servlet-class>deleteEnrollmentStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEnrollmentStatus</servlet-name>
    <url-pattern>/deleteEnrollmentStatus</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>RequestLoggingFilter</filter-name>
    <filter-class>filter.RequestLoggingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RequestLoggingFilter</filter-name>
    <url-pattern>/loginServlet</url-pattern>
    <servlet-name>/loginServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/loginServlet</url-pattern>
    <servlet-name>/loginServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>